* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: beige;
    letter-spacing: 0.02em;
}

a {
    text-decoration: none;
    color: #000;
}

.button:hover {
    background: #000;
    color: white;
}

.button {
    background-color: white;
    padding: 10px 15px;
}




body {
    background-color: beige;
    font-family: 'Cinzel decorative', Verdana, sans-serif;
    font: size 16px;
    font-weight: normal;

    /*Same as above*/

    font: normal 16px Cinzel Decorative, Verdana, sans-serif;
    line-height: 1.6em;
}

.container {
    width: 80%;
    margin: auto;
}

.form {
    padding: 20px;
}

.form.form-group {
    padding-bottom: 15px;
}

.form label {
    display: block;
}

.form input {
    padding: 8px;
    width: 30%;
}



.box-1 {
    background-color: beige;
    border: 1px black solid;
    padding: 10px;
    margin: 20px;
}

.list-links ul {
    font: 20px'Frank Ruhl Libre', serif;
    list-style: none;
    text-align: left;
    text-indent: 2%;
    line-height: 1.3em;
}

.list-links ul li::after {
    content: '';
    width: 0%;
    height: 4px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.list-links ul li:hover::after {
    width: 100%;
}

h1 {
    text-align: left;
    text-indent: 5%;
    color: black;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 35px;
}

nav {
    display: right;
    justify-content: flex-end;
    align-items: center;
}

.nav-links {
    text-align: right;
    text-indent: 5%;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 12px;
    position: relative;
}

.nav-links ul li a {
    font-family: 'Frank Ruhl Libre', serif;
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.nav-linksdropdown {
    font-family: 'Frank Ruhl Libre', serif;
    color: black;
    text-decoration: none;
    font-size: 20px;
}


@media only screen and (max-width:100) {
    .responsive {
        width: 100;
    }
}