* {
    box-sizing: border-box;
    margin: 10;
    padding: 10;
    background-color: bisque;
}

h1 {
    text-align: left;
    text-indent: 5%;
    color: black;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 35px;
}

nav {
    display: right;
    justify-content: flex-end;
    align-items: center;
}

.nav-links {
    text-align: right;
    text-indent: 5%;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 12px;
    position: relative;
}

.nav-links ul li a {
    font-family: 'Frank Ruhl Libre', serif;
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.nav-linksdropdown {
    font-family: 'Frank Ruhl Libre', serif;
    color: black;
    text-decoration: none;
    font-size: 20px;
}

/* slide-box */
.slide-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 15px 10px;

}


.slide-box img {
    width: 300px;
}

/*newsletter sign up */
body
{
margin: 0;
padding:0;
}
.envelope
{
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: bisque;
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
    cursor: pointer;
    transition: .5s;
}
.envelope:hover
{
background: bisque;
}
.overlay
{
  position: absolute;
  bottom: 50px;
  right: 50px;
  width: 100%;
  height: 100vh;
  background: bisque;
  transition: .5s;
  transform:scale(0);
  transform-origin: bottom right;
  border-radius: 50%;
}
.overlay.active
{
    border-radius: 0;
    bottom: 0;
    right: 0;
    transform:scale(1);
}
.newsletter
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    height: auto;
    min-height: 300px;
    background: bisque;
    box-shadow: 0 10px 15px rgba(0,0,0,.5);
    padding: 40px 60px 60px;
    box-sizing: border-box;
}
.newsletter .close
{
    position: absolute;
    top: 24px;
    right: 24px;
    color: white;
    cursor: pointer;
    background:rgb(248, 142, 160);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    border: 4px solid white;
}
.icon
{
    color: black;
    font-size: 80px;
    text-align: center;
}
.newsletter h1
{
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    font-family: 'Cinzel decorative', sans-serif;
    font-weight: 300;
    font-size: 48px;
    text-transform: uppercase;
}
.newsletter p
{
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    font-weight: 300;
    font-size: 20px;
}
.subscribe-form
{
    position: relative;
    margin-top: 40px;
}
.subscribe-form input[type= "email"]
{
    width: 100%;
    height: 60px;
    border-radius: 60px;
    border: none;
    outline: none;
    padding: 20px;
    padding-right: 200px;
    box-sizing: border-box;
    font-size: 24px;
    background: rgba(255, 255, 255, .1);
    color:black;
    font-family: 'Cinzel decorative', sans-serif;
    font-weight: 300;
}
.subscribe-form input[type= "email"] ::placeholder
{
    color:rgba(255,255,255,.5);
}
.subscribe-form input[type= "submit"]
{
    width: 200px;
    height: 60px;
    border-radius: 60px;
    border: none;
    outline: none;
    position: absolute;
    top: 0;
    right: 0;
    background:rgb(221, 175, 50);
    color: white;
    font-family: 'Cinzel decorative', sans-serif;
    font-weight: 300;
    cursor: pointer;
    transition: .5s;
    font-size: 24px;
}
.subscribe-form input[type= "submit"] :hover
{
    background: rgb(248, 142, 160);
}